name: Crawl Data

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:
  schedule:
    - cron: '0 9 * * *'

jobs:
  crawl:
    name: Crawl clubs and fixtures
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: volta-cli/action@v4

      - name: Install dependencies
        run: npm ci

      - name: Install Chrome
        run: npx playwright install --with-deps chrome

      - name: Crawl clubs
        run: npm run crawl:clubs:ci
      - name: Crawl state-league-2-men-s-north-west fixtures
        run: npm run crawl:fixtures:ci -- -c "VETO Sports State League Men's" -l "State League 2 Men's - North-West" -t "state-league-2-men-s-north-west"
      - name: Crawl state-league-2-men-s-north-west-reserves fixtures
        run: npm run crawl:fixtures:ci -- -c "VETO Sports State League Men's" -l "State League 2 Men's - North-West Reserves" -t "state-league-2-men-s-north-west-reserves"

      - name: Sync clubs
        run: npm run sync:clubs
      - name: Sync state-league-2-men-s-north-west fixtures
        run: npm run sync:fixtures -- -t "state-league-2-men-s-north-west"
      - name: Sync state-league-2-men-s-north-west-reserves fixtures
        run: npm run sync:fixtures -- -t "state-league-2-men-s-north-west-reserves"

      - name: Format code
        run: npm run format

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          branch: feat/update-clubs-and-fixtures
          title: 'feat: update clubs and fixtures'
          body: |
            This is an automated pull request to update clubs and fixtures data.
          commit-message: 'feat: update clubs and fixtures data'
          labels: 'content'
          token: ${{ secrets.ACTIONS_TOKEN }}

      - name: Enable auto-merge for PR
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: gh pr merge --auto --squash ${{ steps.cpr.outputs.pull-request-number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
