name: Crawl Dribl Data

on:
  workflow_dispatch:

jobs:
  crawl:
    name: Crawl Dribl Data
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - uses: volta-cli/action@v4

      - name: Install dependencies
        run: npm ci

      - name: Install Chrome
        run: npx playwright install --with-deps chrome

      - name: Crawl clubs
        run: npm run crawl:clubs:ci --
      - name: Crawl senior mens fixtures
        run: npm run crawl:fixtures:ci -- -c "VETO Sports State League Men's" -l "State League 2 Men's - North-West" -t "seniors-mens"

      - name: Sync clubs
        run: npm run sync:clubs
      - name: Sync fixtures
        run: npm run sync:fixtures

      - name: Format code
        run: npm run format

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v8
        with:
          branch: feat/update-dribl-data
          title: 'feat: update dribl data'
          body: |
            This is an automated pull request to update dribl data.
          commit-message: 'feat: update dribl data'
          labels: 'content'
          token: ${{ secrets.ACTIONS_TOKEN }}

      - name: Enable auto-merge for PR
        if: steps.cpr.outputs.pull-request-operation == 'created'
        run: gh pr merge --auto --squash ${{ steps.cpr.outputs.pull-request-number }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
